<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean id="person" class="com.hyd.bean.Person" scope="prototype">
        <property name="age" value="10" />
        <property name="name" value="zhangsan" />
    </bean>

    <!-- 开启基于注解的版的切面功能    -->
<!--    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>-->
</beans>